@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
	/* color-scheme: default-theme dark-theme; */
}

.default-theme {
	--color-bg-base: #ffffff;
	--color-bg-toolBar: #20304b;
	--color-bg-button: #20304b;
	--color-bg-button-hover: #37455d;
	--color-text-toolBar: #ffffff;
	--color-text-button: #ffffff;
	--color-text-button-hover: #ffffff;
	--color-text-base: #000000;
	--color-text-input: #000000;
	--color-border-select: #c5c5c5;
	--color-bg-input: #ffffff;
}

.dark-theme {
	--color-bg-base: #333333;
	--color-bg-toolBar: #3c3c3c;
	--color-bg-button: #3c3c3c;
	--color-bg-button-hover: #454646;
	--color-text-toolBar: #ffffff;
	--color-text-button: #ffffff;
	--color-text-button-hover: #ffffff;
	--color-text-base: #ffffff;
	--color-text-input: #ffffff;
	--color-border-select: #686868;
	--color-bg-input: #292929;
}

.light-theme {
	--color-bg-base: #ffffff;
	--color-bg-toolBar: #ffffff;
	--color-bg-button: #ffffff;
	--color-bg-button-hover: #ebf3ff;
	--color-text-toolBar: #3f4a56;
	--color-text-button: #3f4a56;
	--color-text-button-hover: #5d9bfc;
	--color-text-base: #3f4a56;
	--color-text-input: #3f4a56;
	--color-border-select: #c5c5c5;
	--color-bg-input: #ffffff;
}

.green-theme {
	--color-bg-base: #ffffff;
	--color-bg-toolBar: #ffffff;
	--color-bg-button: #ffffff;
	--color-bg-button-hover: #51cf66;
	--color-text-toolBar: #2b8a3e;
	--color-text-button: #2b8a3e;
	--color-text-button-hover: #ffffff;
	--color-text-base: #2b8a3e;
	--color-text-input: #2b8a3e;
	--color-border-select: #c5c5c5;
	--color-bg-input: #ffffff;
}

.red-theme {
	--color-bg-base: #fff0f6;
	--color-bg-toolBar: #ffdeeb;
	--color-bg-button: #ffdeeb;
	--color-bg-button-hover: #f06595;
	--color-text-toolBar: #c2255c;
	--color-text-button: #c2255c;
	--color-text-button-hover: #fff0f6;
	--color-text-base: #c2255c;
	--color-text-input: #c2255c;
	--color-border-select: #c5c5c5;
	--color-bg-input: #fff0f6;
}

.violet-theme {
	--color-bg-base: #ffffff;
	--color-bg-toolBar: #ffffff;
	--color-bg-button: #ffffff;
	--color-bg-button-hover: #845ef7;
	--color-text-toolBar: #5f3dc4;
	--color-text-button: #5f3dc4;
	--color-text-button-hover: #f3f0ff;
	--color-text-base: #5f3dc4;
	--color-text-input: #5f3dc4;
	--color-border-select: #c5c5c5;
	--color-bg-input: #ffffff;
}

.blue-theme {
	--color-bg-base: #f4f0ff;
	--color-bg-toolBar: #ede7f6;
	--color-bg-button: #ede7f6;
	--color-bg-button-hover: #b39ddb;
	--color-text-toolBar: #3949ab;
	--color-text-button: #3949ab;
	--color-text-button-hover: #edf2ff;
	--color-text-base: #3949ab;
	--color-text-input: #3949ab;
	--color-border-select: #c5c5c5;
	--color-bg-input: #f4f0ff;
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}
a:hover {
	color: #535bf2;
}

body {
	margin: 0;
	/* display: flex;
  place-items: center;
  align-items: start; */
	min-width: 320px;
	height: 100vh;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

#app {
	width: 100%;
	margin: 0 auto;
	height: 100%;
}
